/* body {
    background-image:url('../images/back.jpg');
    background-size:cover;
    background-color: aquamarine;
} */
/* h1, h3, h4,h5,h6 {
    color: rgb(231, 239, 11);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.BOLD{
    FONT-WEIGHT:BOLD;
}
.ITALIC{
    FONT-STYLE:ITALIC;
}

.UNDER{
    text-decoration-line: underline;
} */